snp_train
src/aquila.egg-info
src/aquila/__pycache__/
src/aquila/scripts/__pycache__/
build/
*.so
src/minepy/mine.c
*best_model/

*.hpo/
*.ig/
*.position_importance/
*.log
*.pkl
data_cache/
RiceAtlas_MP2025/rename6048.ped
__pycache__/
*.pt
*.pth
*.ckpt

checkpoints/
